*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// styling variablez
$border-debug: 2px solid green;
$letter-color: rgb(9, 9, 199);
$letter-color-dim: rgb(90, 90, 228);
$letter-color-dimmer: rgb(143, 143, 236);
$transix: 0.8s ease-in-out;

@font-face{
    src: url(fontz/LilitaOne-Regular.ttf);
    font-family: lilitOne;
}
@font-face{
    src: url(fontz/YanoneKaffeesatz-VariableFont_wght.ttf);
    font-family: yanoneka;
}
@font-face{
    src: url(fontz/RubikGlitch-Regular.ttf);
    font-family: rubikGlitch;
}

html{
    font-size: 62.5%;
}

body{
    font-family: yanoneka;

}
main{
    width: 100vw;
    display: flex;
    flex-direction: row;
    gap: 0;
}

.input-section{
    width: 45%;
    height: 100vh;
    border-right: 5px solid black;
    position: relative;

    header{
        max-width: 13rem;
        color: $letter-color;
        // font-style: italic;
        font-family: rubikGlitch;
        height: auto;
        font-weight: 900;
        font-size: 2rem;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: flex-start;
        padding-left: 2.5rem;
        align-items: center;
        flex-direction: row;
        gap: 0.5rem;
        // border: $border-debug;
        text-transform: lowercase;
    }

    .login-input-fieldz{
        // border: $border-debug;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 60%;
        display: flex;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 60%;
        

        h4{
            color: $letter-color-dim;
            font-weight: 400;
            font-family: lilitOne;
            margin-bottom: +1rem;
            text-transform: capitalize;
            word-spacing: 1.2px;
            letter-spacing: 0.5px;
            justify-self: center;
            font-size: 2.5rem;
        }

        .inputz{
            width: 80%;
            margin-right: 10%;
            margin-left: 10%;
            display: flex;
            flex-direction: column;
            gap: 2.5rem;

        }

        input{
            height: 4rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 1.5rem;
            font-style: italic;
            letter-spacing: 1.2px;
            font-weight: 400;
            border-top: none;
            border-right: none;
            border-left: none;
            border-bottom: 0.5px groove rgb(148, 147, 147);
            
        }

        a{
            text-decoration: none;
            margin-left: auto;
            padding-right: 3.5rem;
            font-size: 1.2rem;
            color: $letter-color-dimmer;
        }

        button{
            width: 45%;
            height: 3.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.5px;
            background-color: $letter-color;
            border-radius: 15px;
            border: none;

            &:hover{
                background-color: $letter-color-dim;
                font-weight: 750;
                cursor: pointer;
                transition: $transix;
            }
        }
    }
}

.desc-section{
    width: 55%;
    color: white;
    position: relative;
    background-image: url(images/background-design.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // background-position: contain;
    // background-repeat: no-repeat;
    // background-size: contain;
    


    header{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-right: 3rem;
        gap: 2.5rem;
        height: 5rem;
        // border: $border-debug;
        width: auto;
        margin-left: auto;
        align-items: center;


        p{
            font-size: 1.3rem;
            font-weight: 400;
            // letter-spacing: 0.5px;
            word-spacing: 0.3px;
        }

        .sign-up-btn{
            width: 8rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            font-size: 1.2rem;
            height: 2.5rem;
            color: rgb(236, 227, 227);
            background-color: transparent;
            text-decoration: none;
            font-weight: 600;
            border: 1.5px groove white;
            border-radius: 1.5rem;

            &:hover{
                cursor: pointer;
                transition: $transix;
            }
            
        }
    }

    article{
        // border: $border-debug;
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        height: auto;
        margin-left: 3rem;
        display: flex;
        gap: 1.5rem;
        flex-direction: column;

        h3{
            width: 80%;
            font-size: 3.2rem;
            font-weight: 700;
            font-family: lilitOne;
            word-spacing: 2px;
            color: rgb(212, 206, 206);
            letter-spacing: 0.5px;
            
            span{
                font-weight: 900;
                font-family: rubikGlitch;
                font-size: 3.7rem;
                letter-spacing: 1px;
                color: white;
            }
        }
        p{
            width: 50%;
            font-size: 1.2rem;
            word-spacing: 1.5px;
            font-weight: 300;

        }
    }

    
}